@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

.cs-form {
    display: flex;
    justify-content: center;
}

.cs-form1 {
    font-size: 22px;
    font-weight: 500;
}

.cs-form3 {
    font-size: 65px;
    margin-top: 5%;
}

.cs-form4 {
    margin-left: 2%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 20%;
}

.cs1 {
    margin-top: 3%;
    height: 400px;
    width: 500px;
    border: 2px solid black;
    margin-left: 27%;
}

.cs2 {
    font-size: 35px;
    color: rgb(25, 135, 84);
}

/* body{
    background-color: rgb(232,234,237);

} */
.nav5 {
    background-color: white;
}

.nav1 {
    font-size: 26px;
    color: blue;
}

.tab3 {
    display: none;
}

.tab4 {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.an1 {
    /* font-size: 30px; */
    font-weight: 500;
    color: rgb(84, 164, 221);
}

.an2 {
    font-size: 28px;
    margin-top: 27%;
}

.an3 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(223, 249, 255);
    margin-left: 8%;
    margin-top: 7%;
}

.an6 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 247, 201);
    margin-left: 8%;
    margin-top: 7%;
}

.an7 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 236, 214);
    margin-left: 8%;
    margin-top: 7%;
}

.an8 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(239, 238, 255);
    margin-left: 8%;
    margin-top: 7%;
}

.an9 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(231, 255, 212);
    margin-left: 8%;
    margin-top: 7%;
}

.an10 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 227, 236);
    margin-left: 8%;
    margin-top: 7%;
}

.an4 {
    font-weight: 550;
    font-size: 18px;
    margin-left: 7%;
}

.an4:hover {
    color: rgb(13, 153, 255);
    text-decoration: underline;
}

.an44 {
    font-weight: 550;
    font-size: 18px;
    margin-left: 7%;
}

.an44:hover {
    color: rgb(243, 210, 23);
    ;
    text-decoration: underline;
}

.aan4 {
    font-weight: 550;
    font-size: 18px;
    margin-left: 7%;
}

.aan4:hover {
    color: rgba(247, 136, 9, 0.87);
    ;
    text-decoration: underline;
}


.an5 {
    font-size: 11px;
    margin-left: 7%;
    margin-top: -3%;
}

/* .ab2 {
    transition:  ease-in .1s; 
    width: 80%;
    height: 200px;
    border: 1px solid white;
    border-radius: 10%;
    transition: width 1s;
    transition-timing-function: linear;
} */


/* .ab2:hover {
    transform: scale(1.1);
    background-color: rgb(223, 249, 255);
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-name: my-animation;
    animation-timing-function: linear;
} */


/* 
@keyframes my-animation {

    0% {
        background-color: rgb(223, 249, 255);
        width: 0%;
    }
    50% {
        background-color: rgb(223, 249, 255);
        width: 50%;
    }

    80% {
        background-color: rgb(223, 249, 255);
        width: 80%;
    }
    100% {
        background-color: rgb(223, 249, 255);
        width: 100%;
    }

} */


.ab2::before {
    transform: scaleX(0);
    transform-origin: bottom left;
}


.ab2:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.ab2::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgb(223, 249, 255);
    border-radius: 10%;
    z-index: -1;
    transition: transform .3s ease;
}


.ab2 {
    position: relative;
    width: 80%;
    height: 200px;
    border: 1px solid white;
    border-radius: 10%;
}


.ab4 {
    overflow: hidden;
}


.ab2 {
    &:hover {
        .an3 {
            background-color: white;
            color: rgb(13, 153, 255);
        }
    }
}

.abb3::before {
    transform: scaleX(0);
    transform-origin: bottom left;
}


.abb3:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.abb3::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgb(255, 247, 201);
    ;
    border-radius: 10%;
    z-index: -1;
    transition: transform .3s ease;
}


.abb3 {
    position: relative;
    width: 80%;
    height: 200px;
    border: 1px solid white;
    border-radius: 10%;
}

.abb3 {
    &:hover {
        .an6 {
            background-color: white;
            color: rgb(243, 210, 23);
        }
    }
}


.abb4::before {
    transform: scaleX(0);
    transform-origin: bottom left;
}


.abb4:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.abb4::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgb(255, 236, 214);
    border-radius: 10%;
    z-index: -1;
    transition: transform .3s ease;
}


.abb4 {
    position: relative;
    width: 80%;
    height: 200px;
    border: 1px solid white;
    border-radius: 10%;
}

.abb4 {
    &:hover {
        .an7 {
            background-color: white;
            color: rgba(247, 136, 9, 0.87);
        }
    }
}


.bb1::before {
    transform: scaleX(0);
    transform-origin: bottom left;
}


.bb1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.bb1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgb(239, 238, 255);
    border-radius: 10%;
    z-index: -1;
    transition: transform .3s ease;
}


.bb1 {
    position: relative;
    width: 80%;
    height: 200px;
    border: 1px solid white;
    border-radius: 10%;
}

.bb1 {
    &:hover {
        .an8 {
            background-color: white;
            color: rgb(63, 52, 221);
        }
    }
}

.n4 {
    font-weight: 550;
    font-size: 18px;
    margin-left: 7%;
}

.n4:hover {
    color: rgb(63, 52, 221);
    text-decoration: underline;
}


.bb2::before {
    transform: scaleX(0);
    transform-origin: bottom left;
}


.bb2:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.bb2::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgb(231, 255, 212);
    border-radius: 10%;
    z-index: -1;
    transition: transform .3s ease;
}


.bb2 {
    position: relative;
    width: 80%;
    height: 200px;
    border: 1px solid white;
    border-radius: 10%;
}

.bb2 {
    &:hover {
        .an9 {
            background-color: white;
            color: rgb(120, 243, 19);
        }
    }
}

.n5 {
    font-weight: 550;
    font-size: 18px;
    margin-left: 7%;
}

.n5:hover {
    color: rgb(120, 243, 19);
    text-decoration: underline;
}


.bb3::before {
    transform: scaleX(0);
    transform-origin: bottom left;
}


.bb3:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.bb3::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgb(255, 227, 236);
    border-radius: 10%;
    z-index: -1;
    transition: transform .3s ease;
}


.bb3 {
    position: relative;
    width: 80%;
    height: 200px;
    border: 1px solid white;
    border-radius: 10%;
}

.bb3 {
    &:hover {
        .an10 {
            background-color: white;
            color: rgb(231, 47, 106);
        }
    }
}

.n6 {
    font-weight: 550;
    font-size: 18px;
    margin-left: 7%;
}

.n6:hover {
    color: rgb(231, 47, 106);
    text-decoration: underline;
}

.stic {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

#header {
    font-size: 40px;
    margin-left: 9%;
}

.animate1 {
    background-color: rgb(244, 244, 244);
    margin-top: 6%;
    height: 480px;

}

.animate-2 {
    margin-top: 22%;
    margin-left: 18%;

}

.animate-3 {
    font-size: 20px;
    font-weight: 400;
    font-family: Josefin Sans;
    color: rgb(80, 93, 97);
}

.animate-4 {
    font-size: 25px;
    font-weight: 500;
    margin-top: -2%;
}

.circle-1 {
    height: 150px;
    width: 150px;
    border: 2px solid rgb(142, 151, 154);
    border-radius: 50%;
    box-shadow: 0 0 7px rgb(142, 151, 154);
    position: relative;

    margin: auto;
    animation: circle 11s linear infinite;


}

.circle-2 {
    height: 150px;
    width: 150px;
    border: 2px solid rgb(142, 151, 154);
    border-radius: 50%;
    box-shadow: 0 0 7px rgb(142, 151, 154);
    position: relative;

    margin: auto;
    animation: circle 8s linear infinite;
}

.circle-3 {
    height: 150px;
    width: 150px;
    border: 2px solid rgb(142, 151, 154);
    border-radius: 50%;
    box-shadow: 0 0 7px rgb(142, 151, 154);
    position: relative;

    margin: auto;
    animation: circle 6s linear infinite;
}

.animate-5 {
    margin-top: 15%;
    margin-left: 6%;
}

.animate-6 {
    margin-top: 12%;
    margin-left: -18%;
}

.animate-7 {
    margin-top: 5%;
    margin-left: 27%;

}

.mm1 {
    margin-top: 34%;
    font-size: 18px;
    color: rgb(80, 93, 97);
    font-weight: 500;
}

.mm2 {
    margin-top: 30%;
    font-size: 18px;
    color: rgb(80, 93, 97);
    font-weight: 500;
}

.mm3 {
    margin-top: 34%;
    font-size: 18px;
    color: rgb(80, 93, 97);
    font-weight: 500;
}

.mm4 {
    margin-top: -13%;
    font-size: 18px;
    color: rgb(80, 93, 97);
    font-weight: 500;
}

.circle-4 {
    height: 50px;
    width: 50px;
    background-color: rgb(104, 112, 115);
    border-radius: 50%;
    position: absolute;
    top: 0;
    margin-left: -4%;

}

.mm5 {
    font-size: 15px;
    margin-top: 26%;
    font-weight: 500;
}





@keyframes circle {
    0% {
        transform: rotate(0deg) translate(-25px) rotate(0deg);

    }

    100% {
        transform: rotate(360deg) translate(-25px) rotate(-360deg);
    }
}

.slider1 {
    width: 60%;
    height: 100px;
}

.mtt {
    margin-top: 90%;
}

.prevv {
    height: 300px;

    width: 500px;

}

.prevv1 {
    width: 100%;
    margin-left: 10%;
}

.slider2 {
    width: 110%;
}

.prevv2 {
    background-color: black;
    width: 25px;
    margin-left: 7.4%;

}

.prevv3 {
    background-color: black;
    width: 25px;
    margin-right: 7.2%;
}

.prevv4 {
    border: 2px solid rgb(240, 240, 240);
    height: 580px;

}


