@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

.cs-form{
    display:flex ;
    justify-content: center;
}
.cs-form1{
    font-size: 22px;
    font-weight: 500;
}

.cs-form3{
    font-size: 65px;
    margin-top: 5%;
}
.cs-form4{
    margin-left: 2%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 20%;
}

.cs1{
    margin-top: 3%;
    height: 400px;
    width: 500px;
    border: 2px solid black;
    margin-left: 27%;
}
.cs2{
    font-size: 35px;
    color: rgb(25,135,84);
}